* {
    margin: 0 auto;
    padding: 0;
}

body {
    max-width: 1280px;
}
/*========----------HEADER----------=========*/
.header_top{
    background-color: #37a14c;
}
.header_container{
    max-width: 988px;
    overflow: hidden;
    display: flex;
}
.header_top_text{
    color: #ffffff;
    font-size: 16px;
    align-items: flex-start;
    margin-left: 0;
    padding-top: 16px;
}
.header_top_img{
    align-items: flex-end;
    margin-right: 0;
    justify-content: space-between;
    max-width: 96px;
    padding-top: 8px;
    padding-bottom: 7px;
}
.header_bottom{
    max-width: 1280px;
    overflow: hidden;
}
.header_bottom_container{
    max-width: 988px;
    height: 116px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.logo1{
    margin-left: 0;
    margin-right: 39px;
}
.fone_numbers{
    display: flex;
    max-width: 300px;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
}
.fone_numbers1{
    margin-right: 8px;
}
.first_line{
    color: #0f680e;
    padding-top: 2px;
}
.second_line{
    color: #0f680e;
    padding-top: 10px;
}
.third_line{
    padding-top: 4px;
}
.third_line img{
    vertical-align: middle;
    padding-left: 8px;
}
.four_line, .five_line, .six_line{
    color: #0f680e;
    font-size: 20px;
}
.seven_line a{
    color: #3326ff;
    text-decoration-line: none;
}
.server{
    max-width: 136px;
    max-height: 85px;
    margin-left: 26px;
    margin-right: 16px;
}
.server a{
    color: #ffffff;
    text-decoration-line: none;
}
.choose_server{
    max-height: 136px;
    color: #ffffff;
    background-color: #fdce0a;
    padding: 11px 8px 9px 9px;
    border-radius: 5px;
    align-self: flex-start;
    box-sizing: border-box;
    box-shadow: 0 2px black;
}
.random{
    max-height: 136px;
    color: #ffffff;
    background-color: #fdce0a;
    padding: 11px 25px 9px 27px;
    border-radius: 5px;
    align-self: flex-end;
    box-sizing: border-box;
    margin-top: 11px;
    box-shadow: 0 2px black;
}
/*========----------header end----------=========*/
/*===========АДАПТИВ=============*/
.container-fluid {
    width: 100%;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.col-1 {
    float: left;
    width: 8.33333333%;
}

.col-2 {
    float: left;
    width: 16.66666666%;
}

.col-3 {
    float: left;
    width: 25%;
}

.col-4 {
    float: left;
    width: 33.33333333%;
}

.col-5 {
    float: left;
    width: 41.66666666%;
}

.col-6 {
    float: left;
    width: 50%;
}

.col-7 {
    float: left;
    width: 58.33333333%;
}

.col-8 {
    float: left;
    width: 66.66666666%;
}

.col-9 {
    float: left;
    width: 75%;
}

.col-10 {
    float: left;
    width: 83.33333333%;
}

.col-11 {
    float: left;
    width: 91.66666666%;
}

.col-12 {
    float: left;
    width: 100%;
}

/*===========адаптив кінець=============*/


