* {
    margin: 0 auto;
    padding: 0;
}

body {
    max-width: 1280px;
}
/*========----------HEADER----------=========*/
.header_top{
    background-color: #37a14c;
}
.header_container{
    max-width: 988px;
    overflow: hidden;
    display: flex;
}
.header_top_text{
    color: #ffffff;
    font-size: 16px;
    align-items: flex-start;
    margin-left: 0;
    padding-top: 16px;
}
.header_top_img{
    align-items: flex-end;
    margin-right: 0;
    justify-content: space-between;
    max-width: 96px;
    padding-top: 8px;
    padding-bottom: 7px;
}
.header_bottom{
    max-width: 1280px;
    overflow: hidden;
}
.header_bottom_container{
    max-width: 988px;
    height: 116px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.logo1{
    margin-left: 0;
    margin-right: 39px;
}
.fone_numbers{
    display: flex;
    max-width: 300px;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
}
.fone_numbers1{
    margin-right: 8px;
}
.first_line{
    color: #0f680e;
    padding-top: 2px;
}
.second_line{
    color: #0f680e;
    padding-top: 10px;
}
.third_line{
    padding-top: 4px;
}
.third_line img{
    vertical-align: middle;
    padding-left: 8px;
}
.four_line, .five_line, .six_line{
    color: #0f680e;
    font-size: 20px;
}
.seven_line a{
    color: #3326ff;
    text-decoration-line: none;
}
.server{
    max-width: 136px;
    max-height: 85px;
    margin-left: 26px;
    margin-right: 16px;
}
.server a{
    color: #ffffff;
    text-decoration-line: none;
}
.choose_server{
    max-height: 136px;
    color: #ffffff;
    background-color: #fdce0a;
    padding: 11px 8px 9px 9px;
    border-radius: 5px;
    align-self: flex-start;
    box-sizing: border-box;
    box-shadow: 0 2px black;
}
.random{
    max-height: 136px;
    color: #ffffff;
    background-color: #fdce0a;
    padding: 11px 25px 9px 27px;
    border-radius: 5px;
    align-self: flex-end;
    box-sizing: border-box;
    margin-top: 11px;
    box-shadow: 0 2px black;
}
/*========----------header end----------=========*/
/*========----------MENU----------=========*/
.menu{
    max-width: 1280px;
    overflow: hidden;
    background: -moz-linear-gradient(90deg, #51C066 0, #309444 100%);/* FF3.6+ */
    background: -webkit-gradient(linear,90deg,color-stop(0, 51C066), color-stop(100%, 309444));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #51C066 0, #309444 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #51C066 0, #309444 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #51C066 0, #309444 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(90deg, #51C066 0, #309444 100%);/* W3C */
}
.nav{
    max-width: 988px;
    max-height: 45px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.menu_list{
    display: inline-flex;
    list-style: none;
}
.menu_list li{
    width: 195px;
    height: 45px;
    border-left: 1px solid #247634;
    border-right: 1px solid #57e974;
    text-align: center;
    line-height: 44px;
}
.menu_list a{
    color: #ffffff;
    text-decoration-line: none;
}
.menu_list li:hover{
    background: -moz-linear-gradient(90deg, #46da62 0, #2EA345 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0, 46da62), color-stop(100%, 2EA345));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #46da62 0, #2EA345 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #46da62 0, #2EA345 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #46da62 0, #2EA345 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(90deg, #46da62 0, #2EA345 100%);/* W3C */
}
/*========----------menu end----------=========*/
/*========----------MAIN PART----------=========*/
.main{
    max-width: 988px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
/*========----------side bar----------=========*/
aside{
    margin-left: 0;
}
.side_bar{
    max-width: 230px;
    overflow: hidden;
}
.content{
    max-width: 734px;
    margin-right: 0;
}
.main ul{
    text-decoration: none;
}
.side_bar a{
    text-decoration-line: none;
    font-size: 20px;
    color: black;
}
.side_bar_item1, .side_bar_item2, .side_bar_item3, .side_bar_item4, .side_bar_item5, .side_bar_item6{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e7e7e7;
    width: 230px;
}
.side_bar_item1:hover .side_bar_menu_down, .side_bar_item2:hover .side_bar_menu_down, .side_bar_item3:hover .side_bar_menu_down, .side_bar_item4:hover .side_bar_menu_down, .side_bar_item5:hover .side_bar_menu_down, .side_bar_item6:hover .side_bar_menu_down{
     display: block;
}
.main ul li:first-child{
    padding-top: 0;
}
.side_bar_menu_down li{
    border: none;
    padding-top: 10px;
    font-size: 16px;
}
.side_bar_menu_down li a{
    color: red;
    text-decoration-line: none;
}
.side_bar_menu_down{
    display: none;
    padding-top: 16px;
    padding-left: 32px;
    list-style-type: square;
}
/*========----------side bar end----------=========*/
.content h1{
    line-height: 22px;
    padding-bottom: 21px;
}
.content_text{
    text-align: justify;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 36px;
    border-bottom: 1px solid #e7e7e7;
}
.news{
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
}
.news_container1, .news_container2, .news_container3{
    max-width: 232px;
}
.news_container1{
    margin-left: 0;
}
.news_container3{
    margin-right: 0;
}
.text_first_line{
    font-size: 14px;
    padding-top: 14px;
    padding-left: 7px;
}
.text_second_line{
    font-size: 14px;
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 11px;
    color: #ffffff;
}
.news_container2 .text_second_line{
    padding-bottom: 27px;
}
.text_first_line, .text_second_line{
    background-color: #42b759;
}
/*========----------main part end----------=========*/
/*========----------FOOTER----------=========*/
/*========----------footer one----------=========*/
.first_footer{
    margin-top: 31px;
    max-width: 1280px;
    overflow: hidden;
    background: -moz-linear-gradient(180deg, #FEC50D 20%, #F0B006 80%);/* FF3.6+ */
    background: -webkit-gradient(linear, 180deg, color-stop(20%, FEC50D), color-stop(80%, F0B006));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(180deg, #FEC50D 20%, #F0B006 80%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(180deg, #FEC50D 20%, #F0B006 80%);/* Opera 11.10+ */
    background: -ms-linear-gradient(180deg, #FEC50D 20%, #F0B006 80%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(180deg, #FEC50D 20%, #F0B006 80%);/* W3C */
}
.first_footer_container{
    max-width: 988px;
    overflow: hidden;
    display: flex;
}
.first_footer_text{
    margin-left: 0;
    padding-top: 20px;
    font-size: 20px;
    color: #ffffff;
}
.footer_container_inside{
    display: flex;
    max-width: 268px;
    margin-right: 49px;
    margin-top: 14px;
    margin-bottom: 14px;
    justify-content: space-between;
}
.admin{
    max-width: 80px;
    margin-right: 8px;
}
.admin_numbers{
    max-width: 176px;
}
.admin_first_line{
    text-align: right;
}
.admin_second_line{
    padding-top: 3px;
}
.admin_six_line{
    padding-top: 3px;
}
/*========----------footer two----------=========*/
.second_footer{
    max-width: 1280px;
    overflow: hidden;
    background: -moz-linear-gradient(180deg, #45BB5C 20%, #3d9b50 80%);/* FF3.6+ */
    background: -webkit-gradient(linear, 180deg, color-stop(20%, 45BB5C), color-stop(80%, 3d9b50));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(180deg, #45BB5C 20%, #3d9b50 80%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(180deg, #45BB5C 20%, #3d9b50 80%);/* Opera 11.10+ */
    background: -ms-linear-gradient(180deg, #45BB5C 20%, #3d9b50 80%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(180deg, #45BB5C 20%, #3d9b50 80%);/* W3C */
}
.second_footer_container{
    max-width: 988px;
    overflow: hidden;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.second_footer_img1{
    margin-left: 0;
}
.second_footer_img4{
    margin-right: 0;
}
/*========----------footer three----------=========*/
.third_footer{
    max-width: 1280px;
    overflow: hidden;
}
.third_footer_container{
    max-width: 988px;
    overflow: hidden;
    display: flex;
}
.third_footer_text{
    margin-left: 0;
    font-size: 14px;
    padding-top: 23px;
    padding-bottom: 21px;
}
/*========----------footer end----------=========*/
/*===========АДАПТИВ=============*/
.container-fluid {
    width: 100%;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.col-12 {
    float: left;
    width: 100%;
}

/*===========адаптив кінець=============*/


